---
import "../styles/global.css";
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <script src="https://cdn.jsdelivr.net/npm/jspreadsheet-ce@4/dist/index.min.js" is:inline></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jspreadsheet-ce@4/dist/jspreadsheet.min.css" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/jsuites/dist/jsuites.min.js" is:inline></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsuites/dist/jsuites.min.css" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/papaparse@5.5.3/papaparse.min.js" is:inline></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/papaparse@5.5.3/player/player.min.css" type="text/css"/>
		<title>매핑 툴</title>
	</head>
	<body>
		<slot />
        
	</body>
</html>