---
const props = Astro.props;
---


<dialog id="matching" class="fixed inset-16 w-auto h-auto rounded-xl border-0">
    <div>사용자 선택 A 코드이름: <span id="selected"></span></p>
    <div class="flex items-center">
        <div class="text-nowrap">키워드: </div>
        <input id="keyfinded" type="text" class="w-full" />
        
    </div>
    <ul id="result"></ul>
</dialog>

<script is:inline>
    const $selected = document.getElementById("selected");
    const $keyfinded = document.getElementById("keyfinded");
    const $result = document.getElementById("result");

    function* lazy_filter(fn, iterable) {
        for (const item of iterable) {
            if (fn(item)) yield item;
        }
    }

    function* lazy_take(n, iterable) {
        let i = 0;
        for (const item of iterable) {
            if (i++ === n) break;
            yield item;
        }
    }

    $keyfinded.onchange = (e) => {
        let keywords = $keyfinded.value.trim().split(" ");
        $result.innerHTML = ``;
        let result = ``;


        if (keywords.length && keywords[0] !== "") {
            if (keywords.length > 5) keywords = keywords.slice(0, 5);
            
            let f = lazy_take(20,
                lazy_filter((x) => {
                    x = x?.["name"];
                    return keywords.every((y) => x.indexOf(y) !== -1);
                }, tarobj)
            );

            for (let x of f) {
                for (let y of keywords) {
                    x.name = x.name.replace(new RegExp(y, 'g'), `<b>${y}</b>`);
                }
                result += `<li><span class="code">${x.code}</span><span class="name">${x.name}</span></li>`;
            }
        }

        $result.innerHTML = result;
        
    };
    


    function do_matching(i, ss, keyobj, tarobj) {    
        
        const src = ss.getValue(`B${i+1}`);
        $selected.innerHTML = src;

        // setTimeout(() => {
        //     $keyfinded.focus();
        //     $keyfinded.click();
        // }, 100);

        let keyfinded = [];
        for (let x of keyobj) {
            x = x?.["keyword"];
            if (src.indexOf(x) !== -1) {
                if (keyfinded.length === 0 || keyfinded.every((y) => y.indexOf(x) === -1)) keyfinded.push(x);
                // console.log(keyfinded);
                if (keyfinded.length === 5) break;
            }
        }
        $keyfinded.value = keyfinded.join(" ");


    }
</script>